@import "tailwindcss";

body {
  & > *:nth-child(even) {
    @apply bg-rose-200;
  }
  & > *:nth-child(odd) {
    @apply bg-sky-200;
  }
}

section {
  @apply w-full h-dvh relative;

  & > h1 {
    @apply [font-size:_clamp(1.3rem,_3vw,_5rem)] p-4 underline uppercase font-bold;
  }
}
.show-container {
  @apply absolute top-1/2 left-1/2 -translate-1/2 w-1/2 h-1/2 border-4 border-dashed border-zinc-900 rounded-lg [font-size:_clamp(0.5rem,_2vw,_3rem)];
}

#parent {
  @apply grid grid-cols-6 grid-rows-6 gap-1 p-1;
}

#parent > div {
  @apply p-1 uppercase font-bold text-center rounded-md;
}

.item-1 {
  @apply bg-rose-500 col-start-3 row-start-2 col-span-4 row-span-4;
}

.item-2 {
  @apply bg-sky-400 col-start-1 row-start-6 col-span-6;
}

.item-3 {
  @apply bg-lime-400 col-start-1 row-start-1 col-span-6;
}

.item-4 {
  @apply bg-amber-300 col-start-1 row-start-2 col-span-2 row-span-4;
}

.grid-board {
  @apply grid grid-cols-5 grid-rows-5 gap-1 p-1;

  & > *:nth-child(even) {
    @apply bg-gray-200;
  }
  & > *:nth-child(odd) {
    @apply bg-black;
  }

  & #subgrid-item{
    @apply bg-green-300/70 col-start-2 row-start-2 col-span-3 row-span-3 grid grid-cols-subgrid grid-rows-subgrid gap-1 p-1;
  }
}
